<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <footer>
        <div class="container-fluid">
            <center>
                <p> We value your feedback. Help us to improve our Product Reviews World. </p>
                <p>Copyright &copy; Product Reviews World. All Rights Reserved  |  Mail: maurya.mayank35@gmail.com  </p>	
            </center>
        </div>
    </footer>
</body>
</html>